.Idea-form-container {
  padding: 5rem;
}
.Idea-form-header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.Idea-form-dropdown-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.form-btn-container {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.idea-form-submit-btn {
  margin-top: 50px;
  padding: 1rem 6rem;
  background-color: #f5f5f5;
  color: #0b0025;
  border: 1px solid #0b0025;
  border-radius: 5px;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.idea-form-submit-btn:hover {
  background-color: #610094;
  color: #f5f5f5;
}

.card-main-container {
  margin: 0 auto;
  padding: 0 3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3rem;
  row-gap: 5rem;
  align-items: center;
  justify-items: center;
}

.card-container {
  height: 100%;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 2px -2px 20px rgb(100, 216, 255);
  background-color: #19003c;
}

@media (max-width: 900px) {
  .Idea-form-dropdown-container {
    gap: 3rem;
  }
}

@media (max-width: 768px) {
  .Idea-form-dropdown-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
  }
  .card-main-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 540px) {
  .Idea-form-dropdown-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }
}
