/* card.css */

.card {
  padding: 2rem;
  height: 100%;
}

.card h2 {
  margin-top: 0;
}

.card ul {
  list-style-type: none;
  padding-left: 0;
}

.card li {
  background: #f9f9f9;
  color: #000;
  border: 1px solid #ddd;
  margin: 4px 0;
  padding: 8px;
  border-radius: 4px;
}
.card li:hover {
  background-color: #000;
  color: #fff;
  cursor: pointer;
  border: 1px solid aqua;
}
